* {
    margin: auto;
    font-size: large;
    text-decoration: none;
    font-family: 'Noto Sans JP', arial, sans-serif;
}

.background {
    height: 75%;
    margin-bottom: 50px;
    display: block;
    background-image: linear-gradient(rgb(229, 143, 255), white);
    padding-top: 40px;
}


img {
    display: block;
}

.pic1 {
    width: 200px;
}

.pic2 {
    width: 350px;
}

.pic3 {
    width: 300px;
    margin: 10px auto 100px auto;
}


button {
    background: rgb(229, 143, 255);
    text-align: center;
    border: 1px solid black;
    padding: 10px 15px;
    margin: 10px auto;
    display: block;
    font-weight: bold;
    cursor: pointer;
}

a :hover {
    background: black;
    color: white;
}

p {
    text-align: center;
    font-size: larger;
}
