* {
    margin: auto;
    font-size: large;
    text-decoration: none;
    font-family: 'Urbanist', arial sans-serif;
}

.background {
    background: #00aff0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.topwrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.jenna {
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;
}

.rainn {
    font-weight: bold;
    font-size: x-large;
    padding-right: 20px;
}

.pic {
    height: 75%;
    width: 200px;
    margin-bottom: 50px;
    display: block;
    padding-top: 40px;
}


img {
    display: block;
}

.pic1 {
    width: 200px;
    border: 1px solid black;
}

a {
    background: white;
    border: 1px solid black;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    margin: 30px auto;
    width: 30vw;
    display: block;
    text-align: center;
    padding: 10px;
}

a :hover {
    background: black;
    color: white;
}

p {
    text-align: center;
    font-size: larger;
}